<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khs.catchcapture">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/test"
        android:label="@string/app_name"
        android:roundIcon="@drawable/test"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".View.ImageEditTest"
            android:label="@string/title_activity_image_edit_view"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".broadcastreceive.CaputreReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.CaputreService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".View.MainActivity"
            android:theme="@style/AppTheme.Transparent"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>